.section-large-2 {
    padding: 120px 5%;
    position: relative;
}

.container-large-2 {
    width: 100%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15rem;
    padding-right: 15rem;
    position: relative;
}

.form-testimonial {
    width: 100%;
    max-width: 528px;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    background-color: #f9fafb;
    border-radius: 12px;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px;
    display: flex;
}

.form-grid {
    grid-column-gap: 48px;
    grid-row-gap: 48px;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    display: block;
}

.h5-heading {
    color: #030711;
    letter-spacing: -.48px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
}

.input-field {
    min-height: 56px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    margin-bottom: 0;
    padding: 12px 16px;
    font-size: 16px;
    line-height: 32px;
    transition: border-color .3s;
}

.input-field:focus {
    border-color: #000;
}

.form-label {
    color: #4b5563;
    letter-spacing: 1.28px;
    text-transform: uppercase;
    margin-bottom: 8px;
    font-weight: 500;
    line-height: 24px;
}

.form-button-wrap {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 40px;
    display: flex;
}

.button-primary-l {
    height: 48px;
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    -webkit-backdrop-filter: blur(64px);
    backdrop-filter: blur(64px);
    color: #fff;
    letter-spacing: -.2px;
    background-color: #030711;
    border-radius: 44px;
    flex: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    text-decoration: none;
    transition: border-color .4s, background-color .4s, color .4s;
    display: flex;
}

.button-primary-l.w--current {
    background-color: #344256;
    border-color: #48566a;
}